pip==20.2.2
setuptools==49.6.0
black==19.10b0
flake8==3.8.3
bump2version==0.5.11
wheel==0.33.6
watchdog==0.9.0
nox==2020.5.24
coverage==4.5.4
Sphinx==1.8.5
twine==1.14.0
{% if cookiecutter.command_line_interface|lower == 'click' -%}
Click==7.0{% endif %}
{% if cookiecutter.use_pytest == 'y' -%}
pytest==5.4.3
pytest-runner==5.2{% endif %}
recommonmark==0.6.0
